<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- Header -->
		<div class="header">
			<h1>MyBlog</h1>
		</div>

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="../../index.html">MyBlog</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="collapse navbar-collapse justify-content-between"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="../../index.html"
								>Home</a
							>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle active"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
							>
								Y-Combinator
							</a>
							<ul class="dropdown-menu">
								<li>
									<a
										class="dropdown-item"
										href="/articles/Y-Combinator/How-to-Start-a-Biotech-Company-on-a-Budget.html"
										>Start a Biotech Company on a Budget</a
									>
								</li>
								<li>
									<a
										class="dropdown-item"
										href="/articles/Y-Combinator/pre-product-startup-and-FDA.html"
										>The Pre-Product Startup and the FDA</a
									>
								</li>
								<li>
									<a
										class="dropdown-item"
										href="/articles/Y-Combinator/YC-Build-Sprint-Winter-2021.html"
										>YC Build Sprint Winter 2021</a
									>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle active"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
							>
								Entrepreneurial
							</a>
							<ul class="dropdown-menu">
								<li>
									<a
										class="dropdown-item"
										href="/articles/Entrepreneurial/netflix.html"
										>Wise words from Netflix's co-founder</a
									>
								</li>
								<li>
									<a
										class="dropdown-item"
										href="/articles/Entrepreneurial/good-and-bad-reasons.html"
										>Should you become an Entrepreneur?</a
									>
								</li>
							</ul>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control" type="search" placeholder="Search" />
						<button class="btn btn-light" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</body>
</html>
